* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
label, input {
   display: block;
   line-height: 30px;
   height: 30px;
   outline: none;
   font-size: 13pt;
   width: 100%;
}

form {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 30px auto;
}

input [type="submit"]{
    margin-top:10px;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: yellow 
}

#esquerda {
    width: 40%;
    height: 500px;
    float:left;
}

#direita {
    width: 60%;
    height: 500px;
    float: left;
}

table {
    background-color: rgba(0, 0, 0, 0.2);
    width:90%;
    margin:30px auto;
}

tr {
    line-height: 30px;
}

tr#titulo {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0,.6);
    color: yellow;
}
